@charset "UTF-8";

body {
  font-family:
    "Meiryo",
    "Yu Gothic",
    "Yu Gothic UI",
    sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 画面の高さ分を最低限確保 */
    min-height: 100svh;
    margin: 0;
}

/* 2. メインコンテンツを伸ばす */
.container {
  flex: 1; /* footerを押し下げ */
}


    /* 装飾用のトップバナー */
.top-banner {
  width: 100%;
  height: 150px;               /* 高さ調整 */
  background-color: #0000ff;
  margin: 0;
  padding: 0;
  position: relative;         /* ここを基準地点 */
}
  .last-updated {
    position: absolute;         /* 親要素を基準に自由に配置 */
    top: 5px;                   /* 上から何pxの位置 */
    right: 10px;                /* 右から何pxの位置 */
    color: #ffffff;           
    font-size: 15px;            /* 文字の大きさ */
  }

.site-footer {
  width: 100%;       /* 横幅を画面いっぱいに広げる */
  text-align: center; /* 中の文字を中央に寄せる */
  padding: 20px 0;
}